* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: OpenDyslexic Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0);
    border-bottom: 0px solid rgba(100, 114, 125, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0s;
}

window#waybar.hidden {
    opacity: 0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
	background-color: #000000;
	color: #ffffff;
    padding: 0px;
}

#workspaces button.active {
    background-color: #000000;
    color: #fbff02;
}

#workspaces button.urgent {
    background-color: #000000;
    color: #2121ff;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}

/*#workspaces button:nth-child(1) label {
  color: #2121ff;
}

#workspaces button:nth-child(2) label {
  color: #d00000;
}

#workspaces button:nth-child(3) label {
  color: #ff9804;
}

#workspaces button:nth-child(4) label {
  color: #fbff02;
}

#workspaces button:nth-child(5) label {
  color: #0af300;
}

#workspaces button:nth-child(6) label {
  color: #008ff2;
}

#workspaces button:nth-child(7) label {
  color: #b20cff;
}

#workspaces button:nth-child(8) label {
  color: #ffb8ff;
}

#workspaces button:nth-child(9) label {
  color: #ffffff;
}

#workspaces button:nth-child(10) label {
  color: #808080;
}*/

#custom-weather,
#custom-youtube,
#custom-twitch,
#custom-github,
#custom-bandcamp,
#image.appicon,
#custom-updatesicon,
#custom-notification,
#network,
#clock,
#cpu,
#memory,
#disk,
#pulseaudio,
#cava,
#tray,
#battery,
#window,
#workspaces,
#workspaces {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-weather {
	background-color: #000000;
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#custom-youtube {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    margin: 0px;
}

#custom-twitch {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    margin: 0px;
}

#custom-github {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    margin: 0px;
}

#custom-bandcamp {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#image.appicon {
    border-radius: 20px 0px 0px 20px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#custom-powericon {
	background-color: #000000;
    color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#custom-updatesicon {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#window {
	background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#network {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#clock {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#cpu {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    margin: 0px;
}

#memory {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 0px solid #ffffff;
    margin: 0px;
}

#disk {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#pulseaudio {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#pulseaudio.muted {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#cava {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#battery {
    background-color: #000000;
    color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#custom-notification {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#tray {
    background-color: #000000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ff0000;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    border-left: 0px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin: 0px;
}
